body{
  background:#0f0f0f;
  color:white;
  font-family:Arial;
  margin:0;
}

header{
  text-align:center;
  padding:20px;
  background:#111;
}

.products{
  display:flex;
  justify-content:center;
  margin-top:40px;
}

.product-card{
  background:#1c1c1c;
  padding:20px;
  border-radius:15px;
  width:250px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

button{
  padding:10px 15px;
  background:green;
  border:none;
  border-radius:6px;
  color:white;
  cursor:pointer;
}

button:hover{
  opacity:0.8;
}

.container,
.checkout-container{
  width:90%;
  max-width:500px;
  margin:40px auto;
}

input, select{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:6px;
  border:none;
}

#order-summary .item{
  background:#1c1c1c;
  padding:10px;
  margin-bottom:10px;
  border-radius:8px;
}

#total-box{
  background:#111;
  padding:10px;
  margin:10px 0;
  border-radius:8px;
  text-align:center;
}

.thankyou{
  text-align:center;
  margin-top:100px;
}
