*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Arial', sans-serif;
}

body{
  background:#0f0f0f;
  color:white;
}

/* HEADER */
header{
  background:#000;
  padding:20px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom:2px solid #00ff88;
}

.logo{
  font-size:24px;
  font-weight:bold;
  color:#00ff88;
  letter-spacing:2px;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  transition:0.3s;
}

nav a:hover{
  color:#00ff88;
}

/* HERO SECTION */
.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(180deg,#0f0f0f,#1a1a1a);
}

.hero h1{
  font-size:60px;
  margin-bottom:20px;
}

.hero span{
  color:#00ff88;
}

.hero p{
  color:grey;
  margin-bottom:30px;
}

.hero button{
  padding:15px 40px;
  background:#00ff88;
  border:none;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.hero button:hover{
  background:white;
  color:black;
}

/* PRODUCT SECTION */
.products{
  padding:80px 10%;
  background:white;
  color:black;
}

.products h2{
  text-align:center;
  margin-bottom:50px;
  font-size:40px;
}

.product-card{
  background:#f2f2f2;
  padding:30px;
  text-align:center;
  border-radius:10px;
  transition:0.3s;
}

.product-card:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.product-card h3{
  margin-bottom:20px;
}

.product-card button{
  padding:10px 30px;
  background:#00ff88;
  border:none;
  cursor:pointer;
  font-weight:bold;
}

.product-card button:hover{
  background:black;
  color:white;
}

/* FOOTER */
footer{
  background:#000;
  padding:30px;
  text-align:center;
  border-top:2px solid #00ff88;
}
