body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
  padding-top: 60px;
}

.card {
  background: #1e1e1e;
  padding: 30px;
  margin: auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

button {
  padding: 10px 20px;
  background: #00ff88;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background: #00cc6a;
}

input {
  padding: 8px;
  width: 90%;
  border-radius: 5px;
  border: none;
}

.price {
  font-size: 20px;
  margin: 10px 0;
}
